/* kostum css */
@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.woff2') format('woff2'),
      url('../fonts/Impact.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wadah {
  margin: 0 auto;
  width: 95%;
}
.body-konten{
  padding:1px 10px;
  min-height:100vh;
  opacity: 0;
}
/* untuk tablet */
@media only screen and (min-width: 601px) {
  .wadah {
    width: 95%;
  }
}
/* untuk desktop large */
@media only screen and (min-width: 993px) {
  .wadah {
    width: 90%;
  }
  .body-konten{
    padding:1px 16px;
    min-height:100vh;
    opacity: 0;
  }


}

/* untuk nav vertical */


ul.nav-vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li.li-vertical a {
  color: #000;
  text-decoration: none;
}

li.li-vertical a.active{
  /* background-image: url('../img/bg-repeat.webp'); */
  background-color: rgb(152 155 154);
  color: white;
}
/* i.active{

  background-color: rgb(152 155 154);
  color: white !important;
} */

li.li-vertical a:hover:not(.active) {
  /* background-image: url('../img/bg-repeat.webp'); */
  background-color: #f1f1f1;
  color:black;
}
/* kostum card untuk body depan */
.card-kostum{
  border-radius: 20px;
  min-height: 85vh;
}
#ava-desktop{
  margin: 0% 20%;
}
.nama_profil{
  padding-top: 1px !important;
  font-weight: bold;
}
.jabatan{
  padding: 5px;
}
#ava-mobile{
  padding: 0% 25% 0% 25%;
  margin: auto;
}
.rounded{
  border-radius: 20px;
}
.tmbl-absen{
  text-transform: capitalize !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  margin: 0px -15px
}
.border-round{
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 10px;
}
.nama-prof{
  font-size: 18px;
  font-weight: bold;
  margin: 0px 5px;

}
.status-prof{
  font-size: 14px;
  padding-bottom: 10px;
  color:grey;
  font-weight: bold;
  margin: 0px 5px;

}
.kol{
  border-radius: 10px;
  background-color: #9e9e9e;
  color: white;
  min-height: 121px;
}
.kol:hover{
  border-radius: 10px;
  background-color: #ef6c00;
  color: white;
}
.judul-sum{
  font-size: 20px;
}
hr.solid{
  border-top: 1px solid #bbb;
  margin: 0px;
  padding: 0px;
}
.p-data{
  font-size: 12px;
}
.minus-margin{
  margin: 0px -15px
}
td.td-3{
  padding: 2px 5px;
}
td.td-4{
  padding: 0.5px 5px;
}
#dd-notifikasi{
  min-width: 300px;
}
.rouned-10{
  border-radius: 10px;
}
#memproses{
  margin: 0px;
  position: fixed;
  height: 10px;
  visibility: hidden;
}
.tmb-abs{
  border-radius: 7px;
  padding: 5px 0px;
}
.no-padding{
  margin: 0px !important;
}
.tabel-absen {
  border: 1px solid #cfd8dc;
  border-collapse: collapse;
}
.tabel-banyak{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.padding-small{
  padding: 0px 5px;
}

.tabel-luas::-webkit-scrollbar{
     height: 15px;
     width: 4px;
     background: #b3e5fc;
 }
 .tabel-luas::-webkit-scrollbar-thumb:horizontal{
     background: #1e88e5;
     border-radius: 15px;
 }
.tabel-jarak{
  min-width: 50% !important;
}


label.absen{
  border: 1px solid black;
  padding: 5px 7px;
  border-radius: 10px;
  color: black;
  font-size: 1em;
  font-weight: bold;
}
input[type="radio"]:checked.hadir + label.absen {
    border: 1px solid #43a047;
    background: #43a047;
    color: white;
  }
input[type="radio"]:checked.sakit + label.absen {
  border: 1px solid orange;
    background: orange;
    color: white;
  }
input[type="radio"]:checked.izin + label.absen {
  border: 1px solid orange;
    background: yellow;
    color: black;
  }
input[type="radio"]:checked.alpa + label.absen {
  border: 1px solid red;
    background: red;
    color: white;
  }
  .begron{
  background-image: url('../img/bg-repeat.webp');
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  background-position: center;
  background-repeat: repeat;

  }
  #muter2{
    margin-right: 15px;
    /* position: relative; */
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 2s linear infinite;
    visibility: hidden;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.icon-konfig{
  margin: 0px -9px;
  /* position: relative; */
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Tag di login */
.download-area{
  border: 1px solid black;
}

img#qr{
  max-width: 200px;
  padding-top: -10px !important;
  padding-bottom: 5px;
  border-radius: 15px;
}
.judul-dw{
  padding-button: 5px;
}
.menu-mobile{
  padding: 8px;
}



/* edit warna tab */
.tabs .tab a{
    color:#03a9f4;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#f57c00;
    color:white;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#f57c00;
    color:white;
} /*Background and text color when a tab is active*/
.tabs .tab a:focus.active {
    background-color:#ef6c00;
    color:white;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#0277bd;
} /*Color of underline*/

textarea.materialize-textarea#isi-tugas{
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 10px;

}

.isian-text{
  margin-top: 5px;
  border: 1px solid black;
}
div.row.isian-text{
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

/* jam diindex */
#buat-jam,#jam-plg{
  visibility: hidden;
}
#logo{
  opacity: 0;
}

.typewriter h5 {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0px;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#login-cont{
  opacity: 0;
}


#teks-sekolah{
  font-family :Impact,serif;
  font-weight: normal !important;
}
.impact{
  font-family :Impact,serif;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#menu-desk{
  height: 64px;
  font-size: 29px;
  text-align: center;
  margin: auto;
  padding-top: 7px;
}
canvas{
  max-height: 232px;
}
.padding-10{
  padding: 10px;
}
/* #kotak_login{
  visibility: hidden;
} */
#warning-login{
  visibility: hidden;
}
/* .data_profil{
  margin-top: 7px;
}
.isi_profil{
    font-weight: bold;
  margin-top: 7px;
} */

#nama_lengkap{
  font-weight: bold;
  color: #9c27b0;
}
/* untuk tablet */
@media only screen and (max-width: 601px) {
  #nama_lengkap{
    text-align: center;
    font-weight: bold;
    color: #9c27b0;
  }
  .data_profil{
    margin-top: 5px;
    font-size: 1em;
    font-weight: lighter;
    color: #9c27b0;
  }
  .isi_profil{
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid #babbbb;
    padding-bottom: 5px;
  }
}
/* untuk desktop large */
@media only screen and (min-width: 993px) {
  .isi_profil::before {
    content: ": ";
  }

  #isi-ket{
    padding-top: 10px;
  }

}
.menu_kembali{
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 10px;
  padding-top: 7px;
}
#ubah_foto{
  margin-top: -62px;
  text-transform: capitalize;
}
iframe.dokumen{
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 10;
  right: 0;
  width: 100%;
  height: 100%;
}
.border-menu{
  border: solid #f3e5f5 5px;
  border-radius: 15px;
  padding: 20px;
}
.tmbl-menu{
  padding: 10px 0px 10px 15px;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}
.tmbl-aksi{
  padding: 8px 0px 8px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.jarax{
  margin-right: 20px;
}
/* yang disembunyikan */
#tabel-kalender, #tmbl-tambah, .tombol-absen, #ket-hari, #daft-kel, #list-ta, #buka-download{
  display: none;
}
.aslink:hover{
  background: #f3e5f5;
  cursor: pointer;
}
.tutup-modal{
  margin-button: -1em;
}
h6#hari-tanggal{
  font-size: 18px;
  font-family: impact;
  color: #bdbdbd;
}
#memuat, #memuat-link{
  color: #ffccbc;
}
.jarak-coll{
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: bold;
}
.isi-adm{
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  font-size: 16px;
}
.collapsible.popout > li{
  border-radius: 20px;
}
.isi-card {
    padding: 20px 10px;
}
.bold{
  font-weight:bold;
}
.bg-doc{
  background-color: #d0d0d0;
}
@page  {
  margin: 0;
  size: A4 landscape;
}
