/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#nama{
  font-size: 20px;
  margin: -12px;
  font-weight:bold;
}
#selamat_datang {
  font-size: 5px;
  font-weight: lighter !important;
}
#menu_beranda{
  margin-top: 30px;
}



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.menu-beranda{
  padding: 10px;
  border-radius: 15px;
}
#avatar{
  border: 4px solid #90caf9 !important;
}
.prof-dat{
  font-weight: bolder;
  padding-right: 15px;
}
/* .prof-isi::before {
  content: ": ";
} */
#pilih-kelas, #pross-buat, #pross-err, #tmbl-coba, #anima-sukses, #pil-ta, #nextz, #tmbl-ta, #beraksi, #beraksi, #copGan, #copGen, #ganjil,#tampil-profil,#edit-profil,#edit-foto,#sukses-proses,#footer-next,#tambah-murid,#data-tabel,#lagi_nambah,#lagi_edit,#selamat_datang,#nama,#menu_beranda, #menu_lengkap{
  display: none;
}
#loader_fix{
  margin: 0;
  position: absolute;
  top: 50%;
  left:42%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#strt-btN, #navigasi {
  opacity: 0;
}
.tampil{
  display: block;
}
.sembunyi{
  display: none;
}
#beraksi{
  opacity: 0.5;
}
.progress {
	min-height: 20px;
	overflow: hidden;
	position: relative;
}
#tmblEditFoto{
  margin-top: -65px !important;
  margin-left: -350px !important;
  padding-left: -200px !important;
}
#halow{
  font-size: 20px !important;
  margin-bottom: -15px !important;

}
#profil-ats{
  background-color: #ffe082;
  border-radius: 25px;
  padding-top: 1px;
  padding-left: 7px;
  color: black;
  font-size: 15px;
}
.jud-pel{
  padding: 1px;
}
.materi{
  font-size: 18px;
}
.isi-materi{
  padding: 5px 15px;
}
.dogs {

  display: inline;
}
.nomor{
  font-size: 75px;
  font-weight: bold;
  margin: 1px;
  padding-top: -5px;
}
.number{
  margin: auto;
  font-weight: bold;
}


#help label {
    float:left;
    width:130px;
	  margin: 3px;
    background-color:#FFF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    /* overflow:auto; */
}

#help{
  display: grid;
  margin: auto;
}
#help label span {
    text-align:center;
    font-size: 20px;
    padding:1px 0px;
    display:block;
}

#help label input {
    position:absolute;
    margin: auto;
    display: inline-block;
    /* top:-20px; */
}

#help input:checked + span {
    background-color:indigo;
    color:white;
    height: auto;
}

#help .white {
    background-color:#FFFFFF;
    color:#000;
}

.tampil{
  display: block;
}
.sembunyi{
  display: none;
}


.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}

/* //Animasi rotate */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
